@import "../../styles/variables.scss";
.hiddenDropdown {
  display: none;
}

.showDropdown {
  display: block;
  position: absolute;
  margin-left: 2vw;
  margin-top: 1vw;
  text-align: left;
  background-color: rgb(241, 247, 248);
  padding: 10px;
  border-radius: 25px;
}

.dropdown_container {
  li {
    padding-top: 2vh;
  }
  a {
    padding: 0;
    font-family: $title-font;
    font-weight: 300;
    font-size: 22px;
    color: #949392;
    text-decoration: none;
  }

  li {
    list-style: none;
    margin-bottom: 0.8em;
  }
}
