@import '../../styles/variables.scss';

.topSection{
    height: 100vh;
    background-color: $base-color;
}
.topButton{
    color: $base-color;
    font-family: $title-font;
    font-weight: 300;
    font-size: 22px;
    margin: 2vw;
    color: $font-color;
    text-decoration: none;
    
  }
.topButtonGroup{
    padding-top: 45px;
    padding-right: 108px;
}
.topNav {
    display: flex;
    justify-content: space-between;
  }

#logo {
    width: 179px;
    height: 182px;
    padding-top: 19px;
    padding-left: 21px;

}

.title{
    width: 44vw;
    font-family: $title-font;
    font-weight: 700;
    font-size: 54px;
    
}

  