@import "../../styles/variables.scss";

.collaborators {
  hr {
    width: 70vw;
    background-color: #9d9d9c;
  }

  padding: 5vh 17vw 0vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    padding: 2vw;
  }
  a img {
    height: 18vh;
  }
}
