@import "../../styles/variables.scss";

.MainTwo {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 16vh;
  padding-bottom: 0vh;
  padding-left: 7vw;
  padding-right: 7vw;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  a p {
    display: flex;
    justify-content: center;
    padding-top: 3.4vh;
    font-family: $title-font;
    font-weight: 400;
    font-size: 22px;
  }
  a:hover p {
    font-weight: 700;
    text-shadow: 3px 4px 17px rgba(14, 196, 218, 0.82);
  }

  a:hover .right_turn {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  a:hover .left_turn {
    -webkit-transform: rotate(15deg);
    transform: rotate(-15deg);
  }
  a:hover .gridItemText {
    text-shadow: rgb(94, 191, 255) 1px 0 10px;
    font-weight: 700;
  }
  .imgGrid {
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out;
  }
}

@media screen and (max-width: 539px) {
  .MainTwo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2vw;
    padding-right: 2vw;

    a {
      padding-bottom: 20px;
    }

    a p {
      padding-top: 3.4vh;
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 540px) and (max-width: 850px) {
  .MainTwo {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3vw;
    padding-right: 3vw;

    a p {
      padding-top: 3.4vh;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 850px) and (max-width: 1350px) {
  .MainTwo {
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 5vw;
    padding-right: 5vw;

    a p {
      padding-top: 3.4vh;
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 1350px) {
  .MainTwo {
    padding-top: 100px;
    padding-bottom: 0px;
    padding-left: 5vw;
    padding-right: 5vw;

    a p {
      padding-top: 3.4vh;
      font-size: 24px;
    }
  }
}
