@import "../../styles/variables.scss";

.MainFour {
  hr {
    width: 65vw;
    background-color: #9d9d9c;
  }

  padding: 5vh 21vw 0vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    padding: 2vw;
  }
  a img {
    height: 6vw;
  }
}

@media screen and (min-width: 350px) and (max-width: 539px) {
}

@media screen and (min-width: 540px) and (max-width: 780px) {
}

@media screen and (min-width: 780px) and (max-width: 950px) {
}

@media screen and (min-width: 950px) and (max-width: 1350px) {
}

@media screen and (min-width: 1350px) {
}
