@import "../../styles/variables.scss";

.gridContainer {
  cursor: pointer;
  padding-top: 16vh;
  padding-bottom: 16vh;
  padding-left: 7vw;
  padding-right: 7vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gridItemText {
  display: flex;
  justify-content: center;
  padding-top: 3.4vh;

  font-family: $title-font;
  font-weight: 400;
  font-size: 1.3vw;
}

.imgGrid {
  -webkit-transition: -webkit-transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
}

.gridContainerItems:hover .right_turn {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.gridContainerItems:hover .left_turn {
  -webkit-transform: rotate(15deg);
  transform: rotate(-15deg);
}
.gridContainerItems:hover .gridItemText {
  text-shadow: rgb(94, 191, 255) 1px 0 10px;
  font-weight: 700;
}
