@import "../../styles/variables.scss";

.gridContainer {
  cursor: pointer;
  padding-top: 16vh;
  padding-bottom: 16vh;
  padding-left: 7vw;
  padding-right: 7vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gridItemText {
  display: flex;
  justify-content: center;
  padding-top: 3.4vh;

  font-family: $title-font;
  font-weight: 400;
}

.imgGrid {
  width: 18vw;

  -webkit-transition: -webkit-transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
}

.gridContainerItems:hover .imgGrid {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);

  // border-radius: 30%;
  // -webkit-box-shadow: 4px 1px 13px 4px rgba(102, 185, 237, 1);
  // -moz-box-shadow: 4px 1px 13px 4px rgba(102, 185, 237, 1);
  // box-shadow: 4px 1px 13px 4px rgba(102, 185, 237, 1);
}
.gridContainerItems:hover .gridItemText {
  text-shadow: rgb(94, 191, 255) 1px 0 10px;
  font-weight: 700;
}
