@import "../../styles/variables.scss";

.textImagContainer {
  display: flex;
  align-items: center;
  padding-left: 7vw;
  padding-right: 7vw;

  .textImagSubContainer {
    padding-top: 16vh;
    width: 40vw;
    font-family: $title-font;

    .textImagTitle {
      font-weight: 700;
      font-size: 35px;
      padding-bottom: 5vh;
    }
    .textImagContent {
      font-size: 1.2vw;
    }
  }
}
