@import "../styles/variables.scss";
.footer {
  padding-top: 25vh;

  div section {
    background-color: #d6d6d6;
  }

  .footer_1_1 {
    padding: 4vh 10vw 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer_icons {
      width: 6vw;
      height: 6vw;
    }

    div img {
      width: 10vw;
    }

    div a {
      color: #9d9d9c;
    }
  }
}

#linkdin:hover {
  color: $logo-color;
}

#youtube:hover {
  color: #c4302b;
}

.footer_map {
  display: flex;

  a img {
    width: 9vw;
    padding: 2.5vw;
    filter: grayscale(100%);
    opacity: 0.6;
  }
  a img:hover {
    filter: grayscale(0%);
    opacity: 1;
  }
}

#footer_logo:hover {
  cursor: pointer;
  -webkit-filter: brightness(0.6) contrast(3.4) hue-rotate(217deg) saturate(9.9);
  filter: brightness(0.6) contrast(3.4) hue-rotate(217deg) saturate(9.9);
}
#txt_footer {
  display: flex;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  font-family: $title-font;
  color: #9d9d9c;
  p {
    font-size: 18px;
  }
}

#green_line_footer {
  background: $line-green;
  height: 4vh;
}
#blue_line_footer {
  background: $line-gradient-blue;
  height: 2vh;
}
#btm_line {
  width: 80vw;
}

@media screen and (min-width: 350px) and (max-width: 539px) {
  .footer {
    padding-top: 5vh;

    .footer_1_1 {
      .footer_icons {
        width: 8vw;
        height: 8vw;
      }

      div img {
        width: 13vw;
      }
    }
  }

  #txt_footer {
    p {
      font-size: 10px;
    }
  }
}

@media screen and (min-width: 540px) and (max-width: 850px) {
  .footer {
    padding-top: 15vh;

    .footer_1_1 {
      .footer_icons {
        width: 8vw;
        height: 8vw;
      }

      div img {
        width: 13vw;
      }
    }
  }
  #txt_footer {
    p {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 850px) and (max-width: 1350px) {
  .footer {
    padding-top: 20vh;
  }

  #txt_footer {
    p {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1350px) {
  .footer {
    .footer_1_1 {
      .footer_icons {
        width: 5vw;
        height: 5vw;
      }

      div img {
        width: 10vw;
      }
    }
  }
  #txt_footer {
    p {
      font-size: 16px;
    }
  }
}
