@import "../styles/variables.scss";

.topButton {
  color: $base-color;
  font-family: $title-font;
  font-weight: 300;
  font-size: 22px;
  margin: 2vw;
  color: $font-color;
  text-decoration: none;
}
.topButtonGroup {
  padding-top: 6vh;
  padding-right: 5vw;
}
.topNav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5vh;
}

#logo {
  width: 20vw;
  padding-top: 6vh;
  padding-left: 5vw;
}
