@import "../../styles/variables.scss";
.textImagContainer {
  display: flex;
  align-items: center;
  padding-left: 7vw;
  padding-right: 7vw;
  padding-top: 12vw;

  .textImagSubContainer {
    padding-top: 0vw;
    width: 40vw;
    font-family: $title-font;

    .textImagTitle {
      font-weight: 700;
      font-size: 35px;
      padding-bottom: 2vw;
    }
    .textImagContent {
      font-size: 1.2vw;
      line-height: normal;
    }
  }

  .img_sec {
    img {
      object-fit: cover;
      width: 35vw;
      height: 35vw;
    }
  }
}
.extra_space {
  padding-top: 40vw;
}
@media screen and (max-width: 539px) {
  .textImagContainer {
    padding-left: 3vw;
    padding-right: 3vw;
    // padding-top: 12vw;

    .textImagSubContainer {
      padding-top: 0vw;
      width: 45vw;

      .textImagTitle {
        font-size: 3.5vw;
        padding-bottom: 2vw;
      }
      .textImagContent {
        font-size: 2.5vw;
      }
    }

    .img_sec {
      img {
        object-fit: cover;
        width: 40vw;
        height: 40vw;
      }
    }
  }
  .extra_space {
    padding-top: 40vw;
  }
}

@media screen and (min-width: 540px) and (max-width: 850px) {
  .textImagContainer {
    padding-left: 4vw;
    padding-right: 4vw;
    // padding-top: 12vw;

    .textImagSubContainer {
      padding-top: 0vw;
      width: 45vw;

      .textImagTitle {
        font-size: 3.5vw;
        padding-bottom: 2vw;
      }
      .textImagContent {
        font-size: 2.5vw;
      }
    }

    .img_sec {
      img {
        object-fit: cover;
        width: 38vw;
        height: 38vw;
      }
    }
  }
  .extra_space {
    padding-top: 40vw;
  }
}

@media screen and (min-width: 850px) and (max-width: 1350px) {
  .textImagContainer {
    padding-left: 4vw;
    padding-right: 4vw;
    // padding-top: 12vw;

    .textImagSubContainer {
      padding-top: 0vw;
      width: 45vw;

      .textImagTitle {
        font-size: 3.5vw;
        padding-bottom: 2vw;
      }
      .textImagContent {
        font-size: 2vw;
      }
    }

    .img_sec {
      img {
        object-fit: cover;
        width: 38vw;
        height: 38vw;
      }
    }
  }
  .extra_space {
    padding-top: 40vw;
  }
}

@media screen and (min-width: 1350px) {
  .textImagContainer {
    padding-left: 4vw;
    padding-right: 4vw;
    // padding-top: 12vw;

    .textImagSubContainer {
      padding-top: 0vw;
      width: 45vw;

      .textImagTitle {
        font-size: 2.5vw;
        padding-bottom: 2vw;
      }
      .textImagContent {
        font-size: 1.8vw;
      }
    }

    .img_sec {
      img {
        object-fit: cover;
        width: 38vw;
        height: 38vw;
      }
    }
  }
  .extra_space {
    padding-top: 40vw;
  }
}
